# Specific directories that shoud be ignored
/src/out/
lib*.so
hiacejs_test

# CMake
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#output
output
hiacejs_test
hiacejs_run
node_test
*.pc


#log
*.log
log

#test
css_select_test
css_select_test2
test/layout_test
*.a
